<div class="container">
  <p-card class="header-card">
    <div class="card-content">
      <span class="timestamp">{{ currentTime }}</span>

      <!-- Logo and Title -->
      <div class="logo-title">
        <p-image
          src="..\assets\CityScope logo.png"
          alt="CityScope Logo"
          width="50"
          height="50"
          class="logo"
        ></p-image>
        <h2 class="title">CityScope AI</h2>
      </div>

      <!-- Theme switch -->
      <p-inputSwitch
        class="theme-switch"
        [(ngModel)]="checked"
        (click)="onThemeChange(checked ? 'dark' : 'light')">
      </p-inputSwitch>
    </div>
  </p-card>
</div>
