<app-header></app-header>
<p-splitter
[minSizes]="[12,50]"
[panelSizes]="[10, 80]"
styleClass="mb-5">
  <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center">
          <app-sidebar></app-sidebar>
      </div>
  </ng-template>
  <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center">
        <p-tabView>
          <p-tabPanel
          header="Demographics"
          icon="pi pi-sign-out">
              <p>
                  Lorem ipsum dolor sit amet...
              </p>
          </p-tabPanel>
          <p-tabPanel header="Heat Maps">
              <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
              </p>
          </p-tabPanel>
          <p-tabPanel header="Enrollment Predictor">
              <p>
                  At vero eos et accusamus et iusto odio dignissimos...
              </p>
          </p-tabPanel>
          <p-tabPanel header="Data Tables">
            <p>
                At vero eos et accusamus et iusto odio dignissimos...
            </p>
        </p-tabPanel>
        <p-tabPanel header="Settings">
          <app-settings-page></app-settings-page>
      </p-tabPanel>
      <p-tabPanel header="Insights">
        <p>
            At vero eos et accusamus et iusto odio dignissimos...
        </p>
    </p-tabPanel>
      </p-tabView>
      </div>
  </ng-template>
</p-splitter>
