#heatmapView {
  width: 100%;
  height: 500px; /* Set a fixed height */
  max-height: 500px; /* Prevent it from exceeding limits */
  overflow: hidden; /* Prevent layout resizing due to overflow */
  border-radius: 1rem;

}
.controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}
