/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-dark-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


body {
  margin: 0;
  height: 100vh

}

.header-card .p-card .p-card-body {
  padding: 0;
}

.header-card .p-card{
  border-radius: 0;
}

.header-card .p-card .p-card-content {
  padding: 0.4rem 0;
}

.title .p-image{
  border-radius: 12px;
}

.mb-5.p-splitter.p-component.p-splitter-horizontal {
    height: 100vh;
}
.p-tabview-nav {
  display: inline-flex;
  min-width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex: 1 1 auto;
  flex-wrap: wrap;
}


.p-tabview .p-tabview-nav li {
  margin-right: 0;
  margin-top: 2px;
}
