
* {

}
.outside {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  background-color: #222222; /* PrimeNG theme variable for background */
}

.ring {
  position: relative;
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #000;
  transition: 0.5s;
}

.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}

.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
      transform: rotate(360deg);
  }

  100% {
      transform: rotate(0deg);
  }
}

.login {
  position: absolute;
  width: 250px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.login h2 {
  font-size: 2em;
  color: #fff;
}

.login .links {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.login .links a {
  color: #fff;
  text-decoration: none;
}

.inputBx p-password {
  width: 100%;
}

.inputBx p-password .p-password {
  width: 100%;
}

.inputBx p-password .p-inputtext {
  color: #fff; /* Or any other style matching the theme */
  background-color: #222222;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0;
  transition: all 0.3s;
}

.inputBx p-password .p-inputtext:focus {
  border-bottom: 2px solid #9d7406; /* Active color */
  outline: none;
  box-shadow: none; /* Avoid unwanted shadows */
}

.inputBx p-password .p-password-icon {
  color: #9d7406; /* Toggle icon color */
}

.login-button {
  padding-right: .2rem;
}
.button-container {
  display: flex;
  justify-content: space-evenly;
}
